body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    background-color: white;
}
.top-sec{
    padding: 5%;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-shadow: 0px -250px 600px rgb(28, 28, 28) inset;
    
}
.top-sec-div{
    text-align: center;
    padding: 7%;
    
    

}
.top-sec-div h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 40px;
    
}
.donate-now{
    color: white;
    padding: 15px 25px;
    background-color:rgb(235, 106, 59);
    display: inline-block;
    margin-top: 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.second-sec{
    padding: 5%;
    text-align: center;
    
}

.donate-head{
    font-weight: 700px;
    font-size: 40px;
}

.ul-items{
    list-style-type: none;
    text-align: center;
    
}


.li-items{
    display: inline-block;
    
    padding: 50px;
    background-color: gainsboro;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
    
    
   
}
.li-items:hover{
    border: 2px solid orangered;
    border-radius: 5px;
    background-color: rgb(255, 210, 210);
    color: orangered;
}
.special-p{
    color: darkgray;
}
hr{
    margin: 0px 200px;
    align-items: center;
}

.third-sec{
    text-align: center;
    
}
.sec3-main-div{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 5%;

}
.food{
    background-color: rgba(175, 204, 214, 0.357);
    text-align: left;
    padding: 60px 25px;
    margin: 10px;
    border-radius: 2px;
    width: 30%;


}
.shelter{
    background-color: rgba(246, 218, 227, 0.704);
    text-align: left;
    padding: 60px 25px;
    margin: 10px;
    border-radius: 2px;
    width:  30%;
    
}
.education{
    background-color: rgba(239, 236, 211, 0.621) ;
    text-align: left;
    padding: 60px 25px;
    margin: 10px;
    border-radius: 2px;
    width:  30%;

}

.common-sec{
    display: flex;
    text-align: left;
    padding: 5%;
    
}
.common-sec-divs{
    width: 40%;
    padding: 5% 5% 0% 5%;
}
.common-sec-divs img{
    width: 100%;
    height: 120%;
    border-radius: 10px;
}
.last-sec{
   text-align: center;
   padding: 5% 23%;
   
}
.input-div{
    background-color: bisque;
    padding:10%;
    margin-top: 40px;
    
}
#email{
    padding: 12px 40px 12px 10px;
    background-color: rgba(195, 208, 220, 0.684);
    border: none;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: rgba(95, 103, 110, 0.684);
    
}
#subscribe{
    padding: 12px 35px;
    background-color: rgb(249, 97, 41);
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
}

.footer{
    background-color: black;
    padding: 50px;
    text-align: center;

}
.footer h1{
    color: orangered;
    font-style: italic;

}
.footer p{
    color: aliceblue;
    text-transform: lowercase;
}